*/.settings/org.eclipse.cdt.core.prefs
*/.settings/org.eclipse.cdt.ui.prefs
*/.settings/org.eclipse.ltk.core.refactoring.prefs
*/.settings/language.settings.xml
*#
#*
.#*
*~
#*
build
*.o
*.so
*.pyc
.project
.cproject
.pydevproject
